extends layout/default_layout

block body
  h1=title
    span.sub ##{number}

  div#blockInfo
  
  script.
    var number = #{number};

    if(!web3.isConnected()) {
      console.log('not connected!');
    }

    // web3.eth.getBlockTransactionCount(hashStringOrBlockNumber [, callback])
    // web3.eth.getUncle(blockHashStringOrNumber, uncleNumber [, returnTransactionObjects] [, callback])

    function getBlockInfo(number) {
      //- await web3.eth.getBlockNumber(function(error, result){
      //-   console.log('BlockNumber: ', result);
      //- });
      web3.eth.getBlock(number, function(error, result) { //or "latest"
        console.log(error, result);

        var html = '<table>'
        + '<tr><td>Height:</td><td>' + result.number + '</td></tr>'
        + '<tr><td>TimeStamp</td><td>' + result.timestamp + '</td></tr>'
        //+ '<tr><td>Transactions</td><td>' + result.transactions + '</td></tr>'
        + '<tr><td>Hash</td><td>' + result.hash + '</td></tr>'
        + '<tr><td>Parent Hash</td><td>' + result.parentHash + '</td></tr>'
        + '<tr><td>Sha3Uncles</td><td>' + result.sha3Uncles + '</td></tr>'
        + '<tr><td>Mined By</td><td><a href="/address/' + result.miner + '">' + result.miner + '<a></td></tr>'
        + '<tr><td>Difficulty</td><td>' + result.difficulty + '</td></tr>'
        + '<tr><td>Total Difficulty</td><td>' + result.totalDifficulty + '</td></tr>'
        + '<tr><td>Size</td><td>' + result.size + ' bytes</td></tr>'
        + '<tr><td>Gas Used</td><td>' + result.gasUsed + '</td></tr>'
        + '<tr><td>Gas Limit</td><td>' + result.gasLimit + '</td></tr>'
        + '<tr><td>Nonce</td><td>' + result.nonce + '</td></tr>'
        + '<tr><td>Extra Data</td><td>' + result.extraData + '</td></tr>'
        + '<tr><td>logsBloom</td><td>' + result.logsBloom + '</td></tr>'
        + '<tr><td>mixHash</td><td>' + result.mixHash + '</td></tr>'
        + '<tr><td>receiptsRoot</td><td>' + result.receiptsRoot + '</td></tr>'
        + '<tr><td>stateRoot</td><td>' + result.stateRoot + '</td></tr>'
        + '<tr><td>transactionsRoot</td><td>' + result.transactionsRoot + '</td></tr>'
        + '<tr><td>uncles</td><td>' + result.uncles + '</td></tr>'
        + '</table>';

        var txs = ['<h2>Transactions </h2>','<table>'];
        result.transactions.forEach(function(tx, i) {
          //console.log(tx);
          txs.push('<tr><td><a href="/tx/' + tx + '">' + tx + '</a></td></tr>')
        });
        txs.push('</table>');
        html += txs.join('');
        
        $("#blockInfo").html(html);




      });

    }

    getBlockInfo(number);
    
    

    
    
